/* Scroll effect for smooth scrolling */
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Button hover effect */
.button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #555;  /* Slightly lighter shade for hover effect */
    transform: scale(1.05);   /* Slightly enlarge the button when hovered */
}

/* Link focus effect */
a:focus {
    outline: 3px solid #333; /* Adds a clear focus outline */
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
    margin-top: 200px;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1400px;
    width: 100%;
    height: 150px;
    background-color: #f8f8f8;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 0 0 30px 30px;
    transition: top 0.3s ease-in, top 0.6s ease-out
    }

header.hidden {
    top: -60px; /* Höheneinstellung anpassen, wenn der Header größer ist */
  }

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 300px;
    height: auto;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a{
    position: relative;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: inline-block;
    overflow: hidden;
}

.nav-links a::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top: 4px solid #2d3e2b; /* Nur oben */
    border-left: 4px solid #2d3e2b; /* Nur links */
    border-right: 4px solid #2d3e2b; /* Nur rechts */

    transform: scale(0); /* Startpunkt: unsichtbar */
    transition: transform 0.3s ease;
}

.nav-links a:hover::before {
    transform: scale(1); /* Vollständiger Rahmen */
}

.nav-links li a {
    color: #333;
    text-decoration: none;
}


.primary-button {
    background-color: #2d3e2b;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.offer {
    display: flex;
    justify-content: c;
    flex-direction: row;
    align-items: center;
    background-color: #2d3e2b;
    color: white;
    max-width: 1400px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.offer_body {
    width: 80%;
}

.offer_body h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.offer_body h2{
    text-align: center;
    font-size: 1.5rem;
}

.offer_prozente {
    width: 10%;
}

.offer_prozente p{
    font-size: 4rem;
    text-align: center;
}


/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #c0c9b8;
    max-width: 1400px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: auto;
    border-radius: 8px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.answer_change{
    transition: opacity 0.5s ease-in-out; /* Weicher Übergang */
    opacity: 1;
    text-align: left;
    font-size: 1.7rem;
    padding-bottom: 20px;
}

.hero_image_body{
    width: 50%;
    padding: 20px;
}

.hero_image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.hero-button {
    background-color: #2d3e2b;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    width: 140px;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.hero-content p {
    margin-bottom: 20px;
}

/* Steps Section */
.Bestellablauf {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 80px;
    background-color: white;
    max-width: 1400px;
    margin: auto;
    border-radius: 8px;
}

.steps-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-basis: auto;
    margin-top: 30px;
    padding: 20px 0;
}

.step_picture{
    width: 100px;
    height: auto;
    background-color: white;
    margin-bottom: 10px;
}


.step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    width: 200px;
    z-index: 1;
}

.step1_body {
    text-align: center;
}

.step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    width: 200px;
    z-index: 1;
}

.step2_body {
    text-align: center;
}

.step3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    width: 200px;
    z-index: 1;
}

.step3_body {
    text-align: center;
}

.step4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    width: 200px;
    z-index: 1;
}

.step4_body {
    text-align: center;
}



.Bestellablauf h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #2E443D;
    text-align: center;
}

.step1 h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.step1 p {
    font-size: 1.1rem;
}

.step2 h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.step2 p {
    font-size: 1.1rem;
}

.step3 h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.step3 p {
    font-size: 1.1rem;
}

.step4 h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.step4 p {
    font-size: 1.1rem;
}

.step h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2E443D;
    margin-bottom: 5px;
}

.step p {
    color: #333;
    font-size: 0.9rem;
    padding-top: 20px;
}

/* Hintergrundlinie hinter den Icons */
.connection_line {
    content: "";
    position: absolute;
    top: 70px;
     /* Positionierung der Linie genau in der Mitte der Icons */
    width: 80%;
    height: 2px;
    background-color: #2d3e2b;
    z-index: 0; /* Linie hinter den Icons anzeigen */
}

/* Packages Section */
.packages {
    padding-top: 60px;
    padding: 30px;
    max-width: 1400px;
    margin: auto;
    border-radius: 8px;

}

.packages h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    color: #2E443D;
}

.package-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    flex-basis: auto;

}


.package-card_lite {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.package-card_lite_header{
    background-color: #ed7966;
    width: 100%;
    height: 120px;
    text-align: center;
    color: white;
    border-radius: 8px 8px 0 0;
    margin: 0;
    padding: 0;
}

.package-card_lite_body {
    width: 100%;
    height: 80%;
    text-align: left; 
}

.package-card_basic {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.package-card_basic_header{
    background-color: #303179;
    width: 100%;
    height: 120px;
    text-align: center;
    color: white;
    border-radius: 8px 8px 0 0;
}

.package-card_basic_body {
    width: 100%;
    height: 80%;
    text-align: left; 
}

.package-card_premium {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.package-card_premium_header{
    background-color: #141850;
    width: 100%;
    height: 120px;
    text-align: center;
    color: white;
    border-radius: 8px 8px 0 0;
}

.package-card_premium_body {
    width: 100%;
    height: 80%;
    text-align: left; 
}

.package-cards h3 {
    font-size: 2rem;
}


.package-cards ul {
    padding-left: 50px;
    padding-top: 20px;
}

.package-button {
    background-color: #2d3e2b;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    margin: 10px auto;
}

.price {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}



#contact-form-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #c0c9b8;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #D1E4E4;
}

#contact-form-section h1 {
    font-size: 3.0rem;
    text-align: center;
    color: #2E443D;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-column h2 {
    color: #2E443D;
    margin-bottom: 10px;
    text-align: center;
}

label {
    font-size: 1rem;
    color: #2E443D;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-top: 5px;
}

.checkbox-group input{
    width: 10%;
}

.checkbox-group label{
    width: 20%;
    font-size: 1rem;
}


.checkbox-group label {
    font-size: 1rem;
    color: #2E443D;
}

button[type="submit"] {
    width: 160px;
    padding: 12px;
    background-color: #2d3e2b;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;  /* Slightly lighter shade for hover effect */
    transform: scale(1.05);
}

input[readonly] {
    color: #A9A9A9; /* Hellgrau für readonly Felder */
}

.package_choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.package_choice label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.package_choice select {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    width: 30%;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.calendar-container label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.calendar-container input {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    width: 40%;
}

.calendar {
    width: 80%;
    height: 400px;
}

/*FAQ Section*/
.FAQ {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 80px;
    background-color: white;
    max-width:1000px;
    margin: auto;
    border-radius: 8px;
}

.FAQ h1{
    font-size: 3.0rem;
    text-align: center;
    color: #2E443D;
    margin-bottom: 10px;
  }

.FAQ h2{
    font-size: 1.8rem;
    text-align: left;
    color: #2E443D;
    margin-bottom: 10px;
    margin-top: 20px;
}
  
  details{
    background-color: white;
    color: #2d3e2b;
    border-radius: 8px;
    border: 1px solid ;
    font-size: 1.3rem;
  }
  
  summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
    font-size: 1.5rem;
    font-style: italic;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:after{
    content: "\002B";
  }
  
  details[open] summary {
      /*border-bottom: 1px solid white;*/
      margin-bottom: 5px;
      font-weight: bold;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding: .5em 1em;
    background-color: white;
    border-radius: 0 0 8px 8px;
  }

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background-color: #2d3e2b;
    color: #fff;
    max-width: 1400px;
    margin: auto;
    flex-basis: auto;
    border-radius: 30px 30px 0 0;

position: relative;
}

.footer-section_left {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;

}

.footer-section_right {
    width: 400px;
    padding-left: 10%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
    flex-basis: auto;
}


.footer-section_left h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.footer-section_left ul {
    list-style: none;
    padding-left: 0;
}

.footer-section_left ul li {
    margin-bottom: 8px;
}

.footer-section_left ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section_right h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.footer-section_right ul {
    list-style: none;
    padding-left: 0;
}

.footer-section_right ul li {
    margin-bottom: 8px;
}

.footer-section_right ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section_right a {
    color: #fff;
    text-decoration: none;
}




/* Impressum spezifische Stile */
.impressum-content {
    font-family: Arial, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:7%;
    padding: 20px;
    line-height: 1.6;
    color: #000;
}

.impressum-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.impressum-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.impressum-content p {
    font-size: 16px;
    margin-bottom: 20px;
    
}

.impressum-content a {
    color: #007bff;
    text-decoration: none;
}

.impressum-content a:hover {
    text-decoration: underline;
}


/* Datenschutz spezifische Stile */
.datenschutz-content {
    font-family: Arial, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:7%;
    padding: 20px;
    line-height: 1.6;
    color: #000;
}

.datenschutz-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.datenschutz-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.datenschutz-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.datenschutz-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}
.datenschutz-content li {
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 5%
}

.datenschutz-content a {
    color: #007bff;
    text-decoration: none;
}

.datenschutz-content a:hover {
    text-decoration: underline;
}




/* Media Queries for smaller screens */
@media (max-width: 1200px) {
    .body {
        margin-top: 10px;
    }
    
    .navbar{
        height: 100px;
    }

    .nav-links {
        display: flex;
        list-style: none;
        gap: 10px;
        font-size: 1.3rem;
    }

    .logo-img{
        width: 200px;
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 1025px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }


    .nav-links {
        display: none; /* Links ausblenden */
    }

    .nav-links.active {
        transform: translateX(0);
        position: fixed;
        top: 0;
        right: 0;
        background-color: #f8f8f8;
        height: 100vh;
        width: 250px;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
    }

    .nav-links li a {
        padding: 10px;
        background-color: #f0f0f0;
        text-align: right
    }
    .offer{
        justify-content: space-around;
    }
    .offer_body h1{
        font-size: 1.3rem;
    }
    
    .offer_body h2{
        font-size: 0.8rem;
    }

    .offer_prozente {
        width: 5%;
    }

    .offer_body{
        width: 80%;
    }
    
    .offer_prozente p{
        font-size: 2rem;
    }

    
    .hero {
        flex-direction: column;
        padding: 20px;
    }

    .hero_image_body {
        width: 80%;
        padding-top: 0;
    }

    .hero-button {
        display: none;
    }

    .hero h1{
        font-size: 1.7rem;
    }

    .answer_change{
        font-size: 1rem;
    }


    .steps-container {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        padding-top: 0;
        margin: 0;
    }

    .step1{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    .step1_body{
        padding-left: 70px;
        width:70%
    }

    .step2{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    .step2_body{
        padding-left: 70px;
        width:70%
    }

    .step3{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    .step3_body{
        padding-left: 70px;
        width:70%
    }

    .step4{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    .step4_body{
        padding-left: 70px;
        width:70%
    }

    .Bestellablauf{
        align-items: center;
    }

    .Bestellablauf h1 {
        font-size: 1.8rem;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
    }

    .connection_line{
        top: 70px;
        width:  2px;
        height: 80%;
        left: 15%;
        background-color: #2d3e2b;
        z-index: 0; /* Linie hinter den Icons anzeigen */
    }


    .package-cards {
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
  
    }

    .package-card_lite{
        width: 90%;
    }

    .package-card_basic{
        width: 90%;
    }

    .package-card_premium{
        width: 90%;
    }

    .package-cards ul {
        padding-left: 70px;
    }
    
    #contact-form {
        width: 100%;
    }


    .form-group {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 50px;
    }

    .form-column {
        width: 90%;
        align-items: center;
    }

    .form-column label{
        width: 100%;
    }
    

    .checkbox-group{
        justify-content: left;
        width: 100%;
    }

    .checkbox-group label {
        width: 30px;
    }
    .checkbox-group input {
        width: 30px;
    }

    .package_choice select {
        font-size: 1.0rem;
        width: 40%;
    }

    .calendar-container input {
        font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
        width: 40%;
    }


    details{
        font-size: 0.9rem;
    }
      
    summary {
        font-size: 1.2rem;
    }

    .footer-section {
        flex-direction: column;
        align-items: center;
    }

    .datenschutz-content h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .datenschutz-content h2 {
        font-size: 1.0rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .datenschutz-content h3 {
        font-size: 0.7rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .datenschutz-content p {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }
    .datenschutz-content li {
        font-size: 0.7rem;
        margin-bottom: 10px;
        margin-left: 5%
    }
}

/* Media Queries for smaller screens */
@media (max-width: 480px) {
    body {
        margin-top: 110px;
    }

    .navbar {
        padding: 10px;
    }

    .offer_body h1{
        font-size: 0.9rem;
    }
    
    .offer_body h2{
        font-size: 0.7rem;
    }

    .hero-content h1 {
        font-size: 1.3rem;
    }

    .answer_change {
        font-size: 1rem;
    }

    .steps-container {
        gap: 10px;
    }

    .step_picture{
        width: 70px;
        height: auto;
        margin-bottom: 10px;
    }

    .step1_body{
        padding-left: 20px;
        width:70%
    }

    .step2_body{
        padding-left: 20px;
        width:70%
    }

    .step3_body{
        padding-left: 20px;
        width:70%
    }

    .step4_body{
        padding-left: 20px;
        width:70%
    }

    .step1 h3 {
        font-size: 1rem;
    }
    
    .step1 p {
        font-size: 0.8rem;
        padding-top: 0px;
    }

    .step2 h3 {
        font-size: 1rem;
    }
    
    .step2 p {
        font-size: 0.8rem;
        padding-top: 0px;
    }

    .step3 h3 {
        font-size: 1rem;
    }
    
    .step3 p {
        font-size: 0.8rem;
        padding-top: 0px;
    }

    .step4 h3 {
        font-size: 1rem;
    }
    
    .step4 p {
        font-size: 0.8rem;
        padding-top: 0px;
    }

    .connection_line{
        top: 70px;
        width:  2px;
        height: 70%;
        left: 15%;
        background-color: #2d3e2b;
        z-index: 0; /* Linie hinter den Icons anzeigen */
    }

    .Bestellablauf h1{
        padding-bottom: 20px;
        font-size: 1.5rem;
    }

    .packages {
        padding:0;
        margin-bottom: 15px;
    }

    .package-card {
        width: 100%;
    }

    .package-cards {
        width: 100%;
        padding: 0;
    }


    .package-card_lite_header{
        height: 85px;
    }

    .package-card_basic_header{
        height: 85px;
    }

    .package-card_premium_header{
        height: 85px;
    }

    .package-cards ul {
        padding-left: 30px;
        padding-top: 10px;
        padding-right: 5px;
    }

    .package-cards ul li {
        font-size: 0.8rem;
    }

    .packages h2{
        font-size: 1.5rem;
    }

    .package-cards h3 {
        font-size: 1.3rem;
    }

    .package-cards p {
        font-size: 1rem;
    }

    .package_choice select {
        font-size: 1.0rem;
        width: 58%;
    }

    .primary-button {
        font-size: 0.75rem;
    }

    #contact-form-section h1 {
        font-size: 1.5rem;
    }

    .form-column h2 {
        font-size: 1.3rem;
    }

    .package_choice h2 {
        font-size: 1.3rem;
    }

    .calendar-container h2{
        font-size: 1.3rem;
    }

    details{
        font-size: 0.7rem;
    }
      
    summary {
        font-size: 1.0rem;
    }

    .FAQ h1{
        font-size: 1.5rem;
      }
    
    .FAQ h2{
        font-size: 1.3rem;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .footer-section_left h3 {
        font-size: 1.2rem;
    }

    .footer-section_left li {
        font-size: 0.8rem;
    }

    .footer-section_right h3 {
        font-size: 1.2rem;
    }
    .footer-section_right p {
        font-size: 0.8rem;
    }
}

/* Media Queries for smaller screens */
@media (max-width: 360px) {

    .offer_body h1{
        font-size: 0.7rem;
    }
    
    .offer_body h2{
        font-size: 0.5rem;
    }

    .logo-img {
        width: 70%;
    }

    .hero-content h1 {
        font-size: 1.0rem;
    }

    .answer_change {
        font-size: 0.7rem;
    }

    .package_choice select {
        font-size: 1.0rem;
        width: 90%;
    }
    .hero_image_body{
        padding: 0;
    }

    .Bestellablauf h1{
        padding-bottom: 20px;
        font-size: 1.1rem;
    }

    .packages h2{
        font-size: 1.1rem;
    }
}
